/* ##############################
      ----- PAGE-1 -----
############################## */
#about-us-page1 {
  width: clamp(100svw, 100svw, 100svw);
  height: calc(90svh - 5vh - 3.5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-header-text {
  max-width: 80svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12vh 5vw 5vh 5vw;
}
/* ##############################
      ----- PAGE-2 -----
############################## */
/* code for divs and elements used on sub-page-3 */
#about-us-page2 {
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(100svh, 100svh, 100svh);
  padding: 5vh 5vw 5vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkcolor1);
}
.about-us-page2-hero-text {
  display: inline-flex;
  flex-direction: column;
  max-width: 50svw;
  max-height: 90svh;
  margin: 0 2vw 3vh 0;
}
.about-us-page2-hero-image {
  width: 35svw;
  margin: 0 0 3vh 2vw;
  height: calc(90svh - 5vh - 3.5vw);
  border-radius: 50px;
  background-image: url(../assets/about-us-page-2-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0.75rem #fff;
}
.about-us-page2-hero-text span b {
  background-color: lightgreen;
  color: var (--darkcolor1);
  font-size: 1.2rem;
  font-style: italic;
  line-height: 2;
}
/* ##############################
      ----- PAGE-3 -----
############################## */
#about-us-page3 {
  width: clamp(100svw, 100svw, 100svw);
  min-height: 100vh;
  margin: 7vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.about-us-page3-text {
  width: clamp(90svw, 90svw, 90svw);
  text-align: center;
  margin: 5vh 5vw;
}
.about-us-page3-images {
  width: clamp(100svw, 100svw, 100svw);
  height: 14.1vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 5vh 0;
}
.about-us-page3-images:before,
.about-us-page3-images:after {
  content: "";
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100%;
  z-index: 2;
}
.about-us-page3-images:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(246, 245, 245, 0),
    rgba(246, 245, 245, 1)
  );
}
.about-us-page3-images:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(246, 245, 245, 0),
    rgba(246, 245, 245, 1)
  );
}
.about-us-page3-images-marquee {
  display: inline-flex;
  animation: 15s horizontal-slide infinite linear;
}
.marquee-images {
  height: 12.7vw;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vh;
  margin: 0 2.25vw;
}
#img1 {
  background-image: url(../assets/about-us-page-3-team-image-1.jpg);
}
#img2 {
  background-image: url(../assets/about-us-page-3-team-image-2.jpg);
}
#img3 {
  background-image: url(../assets/about-us-page-3-team-image-3.jpg);
}
#img4 {
  background-image: url(../assets/about-us-page-3-team-image-4.jpg);
}
#img5 {
  background-image: url(../assets/about-us-page-3-team-image-5.jpg);
}
#img6 {
  background-image: url(../assets/about-us-page-3-team-image-6.jpg);
}
.about-us-page3-images:hover .about-us-page3-images-marquee {
  animation-play-state: paused;
}
@keyframes horizontal-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-us-page3-body {
  margin: 5vh 5vw;
}
/* ##############################
      ----- ONE-LINER -----
############################## */
.about-us-one-liner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(10svh, 10svh, 10svh);
  margin: 2vh 5vw 5vh 5vw;
  padding: 0 1.5rem;
  background-color: var(--darkcolor1);
  border-radius: 100px;
}
a.about-us-button {
  font-size: 0.975rem;
  font-weight: 1000;
  font-family: "Barlow", sans-serif;
  border-radius: 10rem;
  padding: 0.6875rem 1.875rem;
  margin: 0.46875rem 0 0.46875rem 0.46875rem;
  transition: 0.25s ease-in-out 0.1s;
  color: var(--darkcolor1);
  background-color: var(--white);
  border: 2px solid var(--darkcolor1);
}
a.about-us-button:hover {
  color: var(--white);
  background-color: var(--darkcolor1);
  border: 2px solid var(--white);
}

/* ###################################
    ----- MEDIA-QUERIES -----
################################### */

/* Media query for tablet and mobile screens */

@media only screen and (max-width: 768px) {
  /* Styles for PAGE-1 */

  #about-us-page1 {
    height: auto; /* Adjusted height for smaller screens */
    /* padding: 5vh 5vw; Adjusted padding for smaller screens */
  }

  .contact-header-text {
    max-width: 90vw; /* Adjusted max-width for smaller screens */
    margin: 10vh 0 5vh 0; /* Adjusted margin for smaller screens */
  }

  /* Styles for PAGE-2 */
  #about-us-page2 {
    padding: 5vh 5vw; /* Adjusted padding for smaller screens */
    flex-direction: column; /* Adjusted flex-direction for smaller screens */
    align-items: center; /* Adjusted alignment for smaller screens */
  }

  .about-us-page2-hero-text {
    max-width: 90vw; /* Adjusted max-width for smaller screens */
    margin: 0; /* Reset margin for smaller screens */
    text-align: center; /* Adjusted text alignment for smaller screens */
  }

  .about-us-page2-hero-image {
    width: 90vw; /* Adjusted width for smaller screens */
    height: auto; /* Adjusted height for smaller screens */
    margin: 3vh 0; /* Adjusted margin for smaller screens */
  }

  /* Styles for PAGE-3 */
  #about-us-page3 {
    margin: 5vh 0; /* Adjusted margin for smaller screens */
  }

  .about-us-page3-text {
    width: 90vw; /* Adjusted width for smaller screens */
    margin: 5vh 0; /* Adjusted margin for smaller screens */
  }

  /* Styles for ONE-LINER */
  .about-us-one-liner {
    flex-direction: column; /* Adjusted flex-direction for smaller screens */
    height: auto; /* Adjusted height for smaller screens */
    padding: 2vh 5vw; /* Adjusted padding for smaller screens */
    margin: 2vh 0; /* Adjusted margin for smaller screens */
    border-radius: 0;
  }

  a.about-us-button {
    margin: 2vh 0; /* Adjusted margin for smaller screens */
  }
}

/* ----- ##################################################
      Copyright 2024 Hard Joshi. Subject to the MIT license. 
################################################## ----- */
