/* ##############################
      ----- PAGE-1 -----
############################## */
#about-us-page1 {
  min-width: 100svw;
  max-width: 100svw;
  height: calc(90svh - 5vh - 3.5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.contact-header-text {
  max-width: 80svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 12vh 5vw 5vh 5vw;
}
/* ##############################
      ----- PAGE-2 -----
############################## */
/* code for divs and elements used on sub-page-3 */
#about-us-page2 {
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(100svh, 100svh, 100svh);
  /* margin-top: 5vh; */
  padding: 5vh 5vw 5vh 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--darkcolor1);
}
.about-us-page2-hero-text {
  display: inline-flex;
  flex-direction: column;
  max-width: 50svw;
  max-height: 90svh;
  margin: 0 2vw 3vh 0;
}
.about-us-page2-hero-image {
  width: 35svw;
  margin: 0 0 3vh 2vw;
  height: calc(90svh - 5vh - 3.5vw);
  border-radius: 50px;
  background-image: url(/MindScape-Documents/Pics/pexels-mikhail-nilov-8923027.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 0.75rem #fff;
}
.about-us-page2-hero-text span b {
  background-color: lightgreen;
  color: var (--darkcolor1);
  font-size: 1.2rem;
  font-style: italic;
  line-height: 2;
}
/* ##############################
      ----- PAGE-3 -----
############################## */
#about-us-page3 {
  width: clamp(100svw, 100svw, 100svw);
  min-height: 100vh;
  margin: 7vh 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.about-us-page3-text {
  width: clamp(45svw, 55svw, 65svw);
  text-align: end;
  margin: 5vh 5vw;
}
.about-us-page3-images {
  width: clamp(100svw, 100svw, 100svw);
  height: 14.1vw;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  margin: 5vh 0;
}
.about-us-page3-images:before,
.about-us-page3-images:after {
  content: "";
  position: absolute;
  top: 0;
  width: 15vw;
  height: 100%;
  z-index: 2;
}
.about-us-page3-images:before {
  left: 0;
  background: linear-gradient(
    to left,
    rgba(246, 245, 245, 0),
    rgba(246, 245, 245, 1)
  );
}
.about-us-page3-images:after {
  right: 0;
  background: linear-gradient(
    to right,
    rgba(246, 245, 245, 0),
    rgba(246, 245, 245, 1)
  );
}
.about-us-page3-images-marquee {
  display: inline-flex;
  animation: 15s horizontal-slide infinite linear;
}
.marquee-images {
  height: 12.7vw;
  aspect-ratio: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vh;
  margin: 0 2.25vw;
}
#img1 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3777570.jpg);
}
#img2 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3789888.jpg);
}
#img3 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3785574.jpg);
}
#img4 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3777948.jpg);
}
#img5 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3812720.jpg);
}
#img6 {
  background-image: url(/MindScape-Documents/Pics/pexels-olly-3813342.jpg);
}
.about-us-page3-images:hover .about-us-page3-images-marquee {
  animation-play-state: paused;
}
@keyframes horizontal-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.about-us-page3-body {
  margin: 5vh 5vw;
}
/* ##############################
      ----- ONE-LINER -----
############################## */
.about-us-one-liner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(10svh, 10svh, 10svh);
  margin: 2vh 5vw 5vh 5vw;
  padding: 0 1.5rem;
  background-color: var(--darkcolor1);
  border-radius: 100px;
}
a.about-us-button {
  font-size: 0.975rem;
  font-weight: 1000;
  font-family: "Barlow", sans-serif;
  border-radius: 10rem;
  padding: 0.6875rem 1.875rem;
  margin: 0.46875rem 0 0.46875rem 0.46875rem;
  transition: 0.25s ease-in-out 0.1s;
  color: var(--darkcolor1);
  background-color: var(--white);
  border: 2px solid var(--darkcolor1);
}
a.about-us-button:hover {
  color: var(--white);
  background-color: var(--darkcolor1);
  border: 2px solid var(--white);
}
