/* ##############################
      ----- PAGE-1 -----
############################## */
#careers-page1 {
  width: clamp(100svw, 100svw, 100svw);
  height: calc(90svh - 5vh - 3.5vw);
  margin: 0 0 5vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.careers-page1-hero-image {
  width: clamp(80svw, 80svw, 80svw);
  height: clamp(65vh, 65vh, 65vh);
  padding: 5vh 5vw;
  background-image: url(../assets/careers-page-1-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.careers-page-1-top-textbox p,
.careers-page-1-bottom-textbox p {
  max-width: 40svw;
  color: var(--white);
}
.careers-page-1-top-textbox {
  margin: 5vh 5vw;
}
.careers-page-1-top-textbox h1 {
  font-size: 5rem;
}
.careers-page-1-bottom-textbox {
  margin: 5vh 5vw;
}
.careers-page-1-bottom-textbox a p {
  font-size: 2rem;
  font-weight: 1000;
  text-decoration: underline;
}
/* ##############################
      ----- PAGE-2 -----
############################## */
#careers-page2 {
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(90svh, 90svh, 90svh);
  padding: 0 5vw;
  margin-bottom: 7vh;
  background-color: var(--darkcolor1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.careers-page2-hero-text p,
.careers-page2-hero-text h2,
.careers-page2-hero-image p {
  color: var(--white);
}
.careers-page2-hero-text {
  width: clamp(50svw, 50svw, 50svw);
  height: 65svh;
  padding: 5vh, 5vw;
  margin: 2rem 2rem 2rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.careers-page2-hero-image {
  width: clamp(40svw, 40svw, 40svw);
  height: 65svh;
  margin: 5vh 0 5vh 5vw;
  padding: 5vh 0;
  border-radius: 25px;
  background-image: url(../assets/careers-page-2-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0.2rem 0.15rem 0.5rem rgb(0, 0, 0);
}
/* ##############################
      ----- PAGE-3 -----
############################## */
#careers-page3 {
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(85svh, 85svh, 85svh);
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.careers-page3-hero-text {
  width: clamp(80svw, 80svw, 80svw);
  height: auto;
  text-align: left;
  margin: 5vh 0 7vh 0;
}
.careers-page3-grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 0 1.5rem;
  width: clamp(90svw, 90svw, 90svw);
  height: clamp(40svh, 40svh, 40svh);
}
#cell-1 {
  grid-area: 1 / 1 / 4 / 2;
  background-image: url(../assets/careers-page-3-grid-image-1.jpg);
}
#cell-2 {
  grid-area: 1 / 2 / 4 / 3;
  background-image: url(../assets/careers-page-3-grid-image-2.jpg);
}
#cell-3 {
  grid-area: 1 / 3 / 4 / 4;
  background-image: url(../assets/careers-page-3-grid-image-3.jpg);
}
#cell-4 {
  grid-area: 1 / 4 / 4 / 5;
  background-image: url(../assets/careers-page-3-grid-image-4.jpg);
}
#cell-5 {
  grid-area: 4 / 1 / 5 / 2;
}
#cell-6 {
  grid-area: 4 / 2 / 5 / 3;
}
#cell-7 {
  grid-area: 4 / 3 / 5 / 4;
}
#cell-8 {
  grid-area: 4 / 4 / 5 / 5;
}
.careers-page3-grid-cell-large {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid var(--bgcolor);
  border-radius: 2.5rem;
  transition: all 0.4s ease-in-out;
}
.careers-page3-grid-cell-large:hover {
  border: 2px solid #0c0c0c;
  box-shadow: 2px 2px 0.85rem #0c0c0c;
}
.careers-page3-grid-cell-small {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.careers-page3-grid-cell-small a:hover {
  text-decoration: underline;
}

/* ###################################
    ----- MEDIA-QUERIES -----
################################### */

/* Media query for tablet and mobile screens */
@media only screen and (max-width: 768px) {
  /* Styles for PAGE-1 */
  #careers-page1 {
    height: auto; /* Adjusted height for smaller screens */
  }

  .careers-page1-hero-image {
    width: 90vw; /* Adjusted width for smaller screens */
    height: 50vh; /* Adjusted height for smaller screens */
    border-radius: 0; /* Adjusted border-radius for smaller screens */
    align-items: flex-start; /* Adjusted alignment for smaller screens */
  }

  careers-page-1-top-textbox h1 {
    font-size: 4rem;
  }

  .careers-page-1-bottom-textbox p {
    font-size: 1.5rem;
    font-weight: 1000;
    text-decoration: underline;
    width: 90svw;
    margin: 0 auto;
    padding: 0 5vw;
  }
  .careers-page-1-bottom-textbox {
    margin: 5vh 0; /* Adjusted margin for smaller screens */
  }

  /* Styles for PAGE-2 */
  #careers-page2 {
    flex-direction: column; /* Adjusted flex-direction for smaller screens */
    height: auto; /* Adjusted height for smaller screens */
    padding: 5vh 5vw; /* Adjusted padding for smaller screens */
    margin-bottom: 7vh; /* Adjusted margin-bottom for smaller screens */
  }

  .careers-page2-hero-text {
    width: 90vw; /* Adjusted width for smaller screens */
    height: auto; /* Adjusted height for smaller screens */
    margin: 5vh 0; /* Adjusted margin for smaller screens */
    text-align: center; /* Adjusted text alignment for smaller screens */
  }

  .careers-page2-hero-image {
    width: 90vw; /* Adjusted width for smaller screens */
    height: 50vh; /* Adjusted height for smaller screens */
    margin: 5vh 0; /* Adjusted margin for smaller screens */
    border-radius: 25px; /* Adjusted border-radius for smaller screens */
  }

  /* Styles for PAGE-3 */
  #careers-page3 {
    width: 100%;
    height: auto; /* Adjusted height for smaller screens */
    margin: 5vh 5vw; /* Adjusted margin for smaller screens */
  }

  .careers-page3-hero-text {
    width: 90vw; /* Adjusted width for smaller screens */
    margin: 5vh 0; /* Adjusted margin for smaller screens */
    text-align: center; /* Adjusted text alignment for smaller screens */
  }
  .careers-page3-grid {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
  #cell-1 {
    grid-area: 1/1/2/2;
    background-image: url(../assets/careers-page-3-grid-image-1.jpg);
  }
  #cell-2 {
    grid-area: 1/2/2/3;
    background-image: url(../assets/careers-page-3-grid-image-2.jpg);
  }
  #cell-3 {
    grid-area: 3 / 1 / 4 / 2;
    background-image: url(../assets/careers-page-3-grid-image-3.jpg);
  }
  #cell-4 {
    grid-area: 3/2/4/3;
    background-image: url(../assets/careers-page-3-grid-image-4.jpg);
  }
  #cell-5 {
    grid-area: 2/1/3/2;
  }
  #cell-6 {
    grid-area: 2/2/3/3;
  }
  #cell-7 {
    grid-area: 4/1/5/2;
  }
  #cell-8 {
    grid-area: 4/2/5/3;
  }
  .careers-page3-grid-cell-large {
    border-radius: 10px;
  }
}

/* ----- ##################################################
      Copyright 2024 Hard Joshi. Subject to the MIT license. 
################################################## ----- */
