#donate-page-1 {
  min-width: 100svw;
  max-width: 100svw;
  height: calc(100svh - 5vh - 3.5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(/MindScape-Documents/Pics/robert-collins-tvc5imO5pXk-unsplash.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 15vh;
}
#donate-page-2 {
  min-width: 100svw;
  max-width: 100svw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bgcolor);
}
/*
#donate-grid {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 1fr;
  gap: 1.5rem;
  width: 90vw;
  height: calc(100svh - 5vh - 3.5vw);
}
#donate-hero-image {
  grid-area: 1 / 1 / 3 / 2;
  background-color: rgba(171, 148, 210, 0.5);
}
#donate-hero-text {
  grid-area: 3 / 1 / 5 / 2;
  background-color: rgba(21, 150, 228, 0.5);
}
#donate-amount {
  grid-area: 5/1/6/2;
  background-color: rgba(44, 54, 33, 0.5);
}
#donate-frequency {
  grid-area: 6/1/7/2;
  background-color: rgba(112, 188, 180, 0.5);
}
#donate-button-box {
  grid-area: 7/1/8/2;
  background-color: rgba(53, 169, 137, 0.5);
} */

/* ###################### */

.donate-body {
  width: 90vw;
  max-height: calc(100svh - 5vh - 3.5vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 3vw 2.5vw auto 2.5vw;
  padding: 4vw 2.5vw 0 2.5vw;
}

.donate-hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 62vw;
  margin: 1vw auto;
  padding: 0 2vw;
}
.donation-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  padding: 1vw 2.5vw 1.5vw 2.5vw;
  margin: 0 auto;
}
.donation-amount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  padding: 1vw 2.5vw;
  margin: 0 auto;
}
.donation-frequency {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45vw;
  padding: 1vw 2.5vw;
  margin: 0 auto;
}
.donation-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  padding: 1vw 2.5vw;
  margin: 0 auto;
}

/* ###################### */

.radio {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 1000;
  cursor: pointer;
  width: 4.5vw;
  height: 3.45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25vw 0.75vw;
  padding: 0.25vw;
}
.radio input[type="radio"] {
  display: none;
}
.radio span {
  width: 4.5vw;
  height: 3.45vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid var(--darkcolor1);
  transition: all 0.3s ease;
}
.radio span::after {
  content: "";
  border-radius: 50px;
  width: 4.5vw;
  height: 3.45vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid var(--darkcolor1);
  transition: all 0.3s ease;
}
.radio:hover span:after,
.custom-amount input[type="number"]:hover,
.frequency-type:hover span:after {
  background-color: rgba(160, 174, 165, 0.45);
  border: 2px solid var(--accentcolor1);
}
.radio input[type="radio"]:checked ~ span,
.custom-amount input[type="number"]:focus,
.frequency-type input[type="radio"]:checked ~ span {
  background-color: var(--accentcolor3);
  border: 2px solid var(--accentcolor1);
}
.custom-amount input[type="number"] {
  width: 13vw;
  height: 3.45vw;
  font-family: "Barlow", sans-serif;
  font-weight: 1000;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid var(--darkcolor1);
  border-radius: 50px;
  margin: 0.25vw 0.75vw 0.25vw 3vw;
  padding: 0 1rem;
  position: relative;
}

/* ###################### */

.frequency-type {
  position: relative;
  font-family: "Barlow", sans-serif;
  font-weight: 1000;
  font-size: 1rem;
  cursor: pointer;
  width: 20vw;
  height: 3.45vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25vw 2vw;
  padding: 0.25vw;
}
.frequency-type input[type="radio"] {
  display: none;
}
.frequency-type span {
  width: 20vw;
  height: 3.45vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid var(--darkcolor1);
  transition: all 0.3s ease;
}
.frequency-type span::after {
  content: "";
  border-radius: 50px;
  width: 20vw;
  height: 3.45vw;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid var(--darkcolor1);
  transition: all 0.3s ease;
}

/* ###################### */

.donation-submit button {
  min-width: 45vw;
  height: 4.5vw;
  font-family: "Mint Grotesk Trial Black Display", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--accentcolor3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25vw 2vw;
  padding: 0.5rem;
  border: 2px solid var(--darkcolor1);
  border-radius: 50px;
}
.donation-submit button:hover {
  background-color: var(--darkcolor1);
  color: var(--white);
}
/* ############################ */
/* ############################ */

.donate-grid {
  display: grid;
  grid-template-rows: repeat(12, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  width: 90vw;
  height: 90vh;
  margin: 5vh 0 10vh 0;
}
.donate-grid-hero-text {
  grid-area: 1 / 1 / 3 / 4;
  padding: 1.5rem;
  border-radius: 1rem;
}
#body-cell-1 {
  grid-area: 3 / 1 / 6 / 2;
  border-radius: 1rem;
}
#body-cell-2 {
  grid-area: 3 / 2 / 6 / 3;
  border-radius: 1rem;
}
#body-cell-3 {
  grid-area: 3 / 3 / 6 / 4;
  border-radius: 1rem;
}
.donate-grid-body-text {
  padding: 1.5rem;
  border-radius: 1rem;
}
.donate-grid-image {
  grid-area: 6 / 1 / 13 / 4;
  background-image: url(/MindScape-Documents/Pics/pexels-ajaybhargavguduru-939702.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 1rem;
}
