/* ###################################
      ----- TOP-NAVIGATION BAR -----
################################### */
nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3.5vw;
  padding: 3vh 5vw 2vh 5vw;
  background-color: rgba(246, 245, 245, 0.4);
  backdrop-filter: blur(5px);
  position: sticky;
  z-index: 100;
  top: 0;
}
nav .logo {
  width: 22.5rem; /*add js to change this to 18.75 when scrolled down to 75% of page-1 */
  margin-right: auto;
  cursor: pointer;
  top: 0;
}
nav ul li a {
  padding: 0.3125rem 0.625rem;
}
/* changing the list style from column to row by using inline property */
.nav-links li {
  display: inline-block;
  padding: 0 1.25rem; /*add js to change this to 0.75 when scrolled down to 75% of page-1 */
}
.nav-links li a {
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}
.nav-btn {
  font-size: 1.02rem;
  color: var(--darkcolor1);
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition: all ease-in-out 300ms;
}
.nav-btn::after {
  content: "";
  bottom: -0.3125rem;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 0.125rem;
  border-radius: 50px;
  background-color: var(--accentcolor3);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 300ms;
}
.nav-btn:focus,
.nav-btn:hover {
  color: var(--darkcolor1);
  transform: translateY(-0.1875rem);
  scale: 1.035;
}

.nav-btn:focus::after,
.nav-btn:hover::after {
  width: 100%;
  left: 0%;
}

/* setting the donation button properties to highlight it on the page */
.donate-btn {
  font-size: 1.02rem;
  padding: 0.6875rem 1.875rem;
  margin-left: 1.25rem; /*setting a margin to the left of button to maintain the total space of 2.5rem between the nav-links and button */
  color: var(--darkcolor1);
  background-color: var(--accentcolor3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0.1s;
}
.donate-btn:hover,
.donate-btn:focus {
  color: var(--accentcolor3);
  background-color: var(--accentcolor1);
}
.donate-border {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.donate-border::before {
  content: "";
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 50px;
  z-index: -1;
  margin-left: 1.25rem;
  transition: all 0.3s ease-in-out 0.1s;
}

.donate-border:hover::before,
.donate-border:focus::before {
  top: -0.3125rem;
  left: -0.3125rem;
  right: -0.3125rem;
  bottom: -0.3125rem;
  border: 1px solid var(--accentcolor1);
}

/* ########################################
      ----- BOTTOM-NAVIGATION BAR -----
######################################## */
/* Styling the bottom navidation which will appper only on the small screen devices. */
.nav-bottom {
  backdrop-filter: blur(10px);
  position: fixed;
  display: none;
  bottom: 0;
  width: 100%;
  overflow-x: auto;
  justify-content: space-around;
  background-color: #00000075;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}

/* Styling the links of the bottom navigation bar. */
.nav-bottom a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 50px;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.2rem; /* This is to add whitespace so that the nav bar will not overlap with the bottom contents. */
  transition: background-color 0.3s ease-in-out;
}

.nav-bottom a span {
  margin: 0.2rem;
}
/* This is the styles that will change and overwrite the previuosly applied styles when the condition inside the brackets is met. Here, when the maximum width is 600px. */
@media (max-width: 600px) {
  nav img,
  nav ul {
    display: none;
  }

  .nav-bottom {
    display: flex;
  }
}
/* ----- ##################################################
      Copyright 2024 Hard Joshi. Subject to the MIT license. 
################################################## ----- */
