/* ###################################
      ----- DECLARING PRESETS -----
################################### */
/* using root-selector to declare the variable for the root element i.e. HTML doc in this case */
:root {
  --bgcolor: #f6f5f5;
  --accentcolor1: #3a4b40;
  --accentcolor2: #4d595c;
  --accentcolor3: #a0aea5;
  --darkcolor1: #333;
  background-color: rgba(160, 174, 165, 0.3);
}
/* universal selector - to set default properties for all elements */
* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-weight: 400;
  color: var(--darkcolor1);
}
a {
  text-decoration: none;
  color: var(--darkcolor1);
}
/* ##############################
      ----- FONTS -----
############################## */
h1 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 4.5rem;
  font-weight: 400;
}
h2 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 3rem;
  font-weight: 400;
}
h3 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 2.5rem;
  font-weight: 400;
}
h4 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 2rem;
  font-weight: 400;
}
h5 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 1.5rem;
  font-weight: 400;
}
h6 {
  font-family: "Mint Grotesk Trial Black Display";
  font-size: 1rem;
  font-weight: 400;
}
p {
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}
.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}
.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#page1 {
  width: 100svw;
  height: 100svh;
}
/* ##############################
      ----- SLIDER -----
############################## */
header {
  display: flex;
  /* align-items: center; */
  height: calc(100svh - 4svh);
  justify-content: space-between;
}
.hero-quote {
  display: inline-flex;
  flex-direction: column;
  width: 45svw;
  height: 80vh;
  margin: 3vh 2vw 3vh 5vw;
  padding-top: 15vh;
}
.hero-img {
  width: 45svw;
  margin: 3vh 0 3vh 2vw;
  height: calc(100svh - 4svh);
  background-image: url(/MindScape-Documents/Pics/hero-image1.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-links {
  display: inline-flex;
  justify-content: center;
}
.hero-btn {
  font-size: 1.25rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  padding: 0.6875rem 1.875rem;
  margin: 0.625rem 1rem;
  color: var(--accentcolor1);
  background-color: transparent;
  border: 2px solid var(--accentcolor1);
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0.1s;
}
span {
  top: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 100%;
  border-radius: 50px;
  background-color: var(--accentcolor1);
  z-index: -1;
  transition: all 0.3s ease-in-out 0.1s;
}
.hero-btn:hover {
  color: var(--bgcolor);
  /* background-color: var(--accentcolor1); */
  font-weight: 500;
  border: 2px solid;
  border-color: rgba(160, 174, 165, 0);
}
.hero-btn:hover span {
  width: 100%;
}
/* ----- ##################################################
      Copyright 2024 Hard Joshi. Subject to the MIT license. 
################################################## ----- */
